@page "/CarType/Index"

@inject IStringLocalizer<IndexComponent> Loc

@attribute [Authorize]

<AuthorizeView Roles="Admin">
    <Authorized>
        <a href="/CarType/Add" class="btn btn-outline-primary">@Loc["Add"]</a>
    </Authorized>
</AuthorizeView>

<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@Loc["CartypesIndex"]</h4>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th width=20px>#</th>
                                <th>@Loc["Name"]</th>
                                <th>@Loc["Status"]</th>
                                <th>@Loc["Actions"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            <Virtualize TItem="CarCareApplication.Core.Shared.ViewModels.CarTypeModels.IndexCarTypeViewModel" Items="ItemsSouce" Context="Item">
                                <tr>
                                    <td>@Item.Id</td>
                                    <td>@Item.Name</td>
                                    <td>
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="@Item.Id" checked="@Item.IsEnabled" @onclick="()=> ToggleEnable(Item.Id)" />
                                            <label class="custom-control-label" for="@Item.Id">@Loc["EnableOrDisable"]</label>
                                        </div>
                                    </td>
                                    <td>
                                        <AuthorizeView Roles="Admin">
                                            <Authorized>
                                                <a href="/CarType/Edit/@Item.Id" class="btn btn-outline-warning">@Loc["Edit"]</a>
                                            </Authorized>
                                            <NotAuthorized>
                                                <p>@Loc["NoActions"]</p>
                                            </NotAuthorized>
                                        </AuthorizeView>
                                    </td>
                                </tr>
                            </Virtualize>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>